:root {
  --black: #1a1a1a;
  --tpBlack: #1a1a1a7c;

  --pink1: #d7b4d8;
  --pink2: rgb(128, 81, 131);
  --pink3: #e7d2e8;

  --tpPink1: #d7b4d86a;
  --tpPink2: rgba(128, 81, 131, 0.415);
  --tpPink3: #e7d2e863;

  --white: #eeeeee;

  --pinkBorder1: #3e0d45;
  --pinkBorder2: #74267e;
  --pinkBorder3: #7f6882;

  --yellow1: #ffc669;
  --blue1: #aabefc;
  --orange1: #ec9269;

  --mitaMenuContentHeight: 200px;
}
