@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap");
//* DotGothic16, VT323 (eng only)

@import "normalize";
@import "variables";
@import "animations";

@import "header";
@import "main";
@import "footer";

* {
  font-family: "DotGothic16";
  letter-spacing: -4px;
  font-weight: 1000;
}
